@import '../assets/variaveis.css';

.agenda {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .event {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
  }
  
  .event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .event-details {
    padding: 15px;
  }
  
  .event h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .event p {
    font-size: 1rem;
    color: #666;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .event {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }
  