/* Importação das variáveis de estilo */
@import '../assets/variaveis.css';

/* Estilo geral da view da galeria */
.galeria-view {
  padding: var(--paddingInterno); /* Padding interno */
  box-sizing: border-box; /* Inclui o padding e bordas na largura e altura totais */
  background-color: var(--corFundoGaleria); /* Cor de fundo para a view */
  margin-top: var(--marginTopGaleria); /* Margem superior ajustada com variável */
}

/* Estilo do título da galeria */
.gallery-title {
  font-size: var(--fontSizeH1); /* Tamanho da fonte definido pela variável */
  color: var(--corDaFontePrincipalEscrita); /* Cor da fonte principal */
}

.highlight {
  color: var(--backgroundDosBotoesStatic);
}

/* Grid da galeria */
.gallery-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  margin-bottom: 5%;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Item da galeria */
.gallery-photo-card {
  flex: 0 0 auto; /* Impede o redimensionamento das imagens */
  width: 200px; /* Largura fixa para cada item */
  margin-right: 10px; /* Espaçamento entre as imagens */
  background-color: var(--corFundoCard); /* Cor de fundo leve para o container de imagem ajustada com variável */
  border-radius: var(--bordasArredondadas); /* Bordas arredondadas para o container ajustadas com variável */
  padding: var(--paddingCard); /* Espaçamento interno ao redor da imagem ajustado com variável */
  box-shadow: var(--sombraCard); /* Sombra sutil para destaque ajustada com variável */
}

/* Ajuste o tamanho fixo das imagens para 200x200 pixels */
.gallery-photo {
  width: 200px; /* Largura fixa das imagens */
  height: 200px; /* Altura fixa das imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir o container sem distorção */
  border-radius: var(--bordasArredondadas); /* Bordas arredondadas para as imagens ajustadas com variável */
}

.gallery-photo-title,
.gallery-photo-description {
  text-align: center;
  margin: var(--margemTexto); /* Margens superior e inferior para os textos ajustadas com variável */
}

.more-button {
  display: block;
  margin: var(--marginBotao); /* Margem superior e inferior ajustada com variável */
  padding: var(--paddingBotao); /* Padding ajustado com variável */
  background-color: var(--corFundoBotao); /* Cor de fundo do botão ajustada com variável */
  color: var(--corTextoBotao); /* Cor do texto do botão ajustada com variável */
  border: none;
  border-radius: var(--bordasArredondadasBotao); /* Bordas arredondadas para o botão ajustadas com variável */
  font-size: var(--tamanhoFonteBotao); /* Tamanho da fonte do botão ajustado com variável */
  cursor: pointer;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .gallery-title {
    font-size: var(--tamanhoTituloResponsivo); /* Tamanho da fonte ajustado com variável */
    margin-right: var(--margemTituloResponsivo); /* Margem direita ajustada com variável */
  }

  .gallery-photo {
    width: 150px; /* Reduz a largura das imagens em telas menores */
    height: 150px; /* Reduz a altura das imagens em telas menores */
  }
}

@media (max-width: 480px) {
  .gallery-title {
    font-size: var(--tamanhoTituloMuitoPequeno); /* Tamanho da fonte ajustado com variável */
  }

  .gallery-photo {
    width: 100px; /* Reduz ainda mais a largura das imagens em telas muito pequenas */
    height: 100px; /* Reduz ainda mais a altura das imagens em telas muito pequenas */
  }
}

/* Estilos para o Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Fundo escuro semitransparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Elevada prioridade na pilha de z-index */
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  background: #fff; /* Cor de fundo do modal */
  padding: 20px;
  border-radius: var(--bordasArredondadas); /* Bordas arredondadas */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra ao redor do modal */
}

.modal-image {
  max-width: 100%;
  max-height: 80vh;
  border-radius: var(--bordasArredondadas); /* Bordas arredondadas */
  margin-bottom: 10px; /* Espaçamento inferior */
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--corFundoBotaoFechar); /* Cor de fundo ajustada com variável */
  border: none;
  color: var(--corTextoBotaoFechar); /* Cor do texto ajustada com variável */
  font-size: 20px;
  cursor: pointer;
  z-index: 1001; /* Mantém o botão acima de todos os elementos */
  color: red;
}
/* 
.modal-navigation {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
} */

/* Botões de navegação (Próximo e Anterior) */
.navigation-button {
  position: absolute;
  top: 50%; /* Centraliza verticalmente com base na altura da imagem */
  transform: translateY(-50%); /* Ajuste para centralizar exatamente */
  background-color: var(--corFundoBotaoNavegacao); /* Cor de fundo ajustada com variável */
  border: none;
  color: var(--corTextoBotaoNavegacao); /* Cor do texto ajustada com variável */
  font-size: 30px;
  cursor: pointer;
  height: 50%; /* Altura do botão ajustada para 50% da altura da imagem */
  z-index: 1001; /* Mantém os botões acima da imagem */
}

/* Botão anterior (esquerda) */
.prev-button {
  left: -18px;
}

/* Botão próximo (direita) */
.next-button {
  right: -18px;
}

/* .modal-navigation button {
  background: transparent;
  border: none;
  font-size: 36px;
  color: var(--corFundoBotao);
  cursor: pointer;
  user-select: none;
} */
