@import '../assets/variaveis.css';

/* Estilos para a página de erro 404 */
.not-found {
    text-align: center;
    margin-top: var(--marginTopAgenda); /* Espaçamento superior definido pela variável */
}

/* Tamanho do título principal */
.not-found h1 {
    font-size: var(--fontSizeH1); /* Tamanho do texto definido pela variável */
    margin: 0; /* Remove a margem padrão */
}

/* Tamanho do texto do parágrafo */
.not-found p {
    font-size: var(--fontSizeP); /* Tamanho do texto do parágrafo definido pela variável */
}

/* Estilo para os links */
.not-found a {
    color: var(--corFonteLinkHover); /* Cor dos links definida pela variável */
    text-decoration: none; /* Remove o sublinhado dos links */
}

/* Estilo para o estado de hover dos links */
.not-found a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estilos Responsivos */

/* Para telas pequenas (por exemplo, smartphones) */
@media (max-width: 576px) {
    .not-found h1 {
        font-size: 50px; /* Reduz o tamanho do título para telas menores */
    }

    .not-found p {
        font-size: 18px; /* Reduz o tamanho do texto do parágrafo para telas menores */
    }
}

/* Para telas médias (por exemplo, tablets) */
@media (min-width: 577px) and (max-width: 768px) {
    .not-found h1 {
        font-size: 75px; /* Ajusta o tamanho do título para tablets */
    }

    .not-found p {
        font-size: 20px; /* Ajusta o tamanho do texto do parágrafo para tablets */
    }
}

/* Para telas grandes (monitores) */
@media (min-width: 769px) {
    .not-found h1 {
        font-size: var(--fontSizeH1); /* Mantém o tamanho do título para monitores grandes */
    }

    .not-found p {
        font-size: var(--fontSizeP); /* Mantém o tamanho do texto do parágrafo para monitores grandes */
    }
}
