@import '../assets/variaveis.css';

/* Contêiner da view do ranking */
.ranking-view-container {
  align-items: center;
  background-color: var(--backgroundBranco);
  display: flex;
  flex-direction: column;
  margin-top: var(--marginTopAgenda);
  padding: var(--paddingContainer);
}

/* Contêiner do acordeão */
.ranking-accordion {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

/* Estilo de cada item do acordeão */
.accordion-item {
  border: 1px solid var(--borderCorPadrao);
  border-radius: var(--borderRadiusMedium);
  margin-bottom: var(--marginPadrao);
  overflow: hidden;
}

/* Estilo do botão do acordeão */
.accordion-button {
  background-color: var(--backgroundDosBotoesStatic);
  border: none;
  color: var(--corFonteDentroDosBotoesStatic);
  cursor: pointer;
  display: flex;
  font-size: var(--sizeFontePrincipal);
  justify-content: space-between;
  padding: 15px;
  text-align: left;
  transition: background-color 0.3s, color 0.3s;
  width: 100%;
}

/* Estilo para quando o botão está expandido */
.accordion-button[aria-expanded="true"] {
  background-color: var(--backgroundDosBotoesHover);
  color: var(--corFonteDentroDosBotoesHover);
}

/* Ícone de seta do acordeão */
.accordion-icon {
  font-size: var(--sizeFontePrincipal);
  transition: transform 0.3s;
}

.accordion-icon.open {
  transform: rotate(180deg);
}

/* Estilo do conteúdo do acordeão */
.accordion-content {
  background-color: var(--backgroundSecundario);
  color: var(--corDaFontePrincipalEscrita);
  overflow: hidden;
  transition: max-height 0.5s ease;
}

/* Estilo da tabela */
.ranking-table {
  border-collapse: collapse;
  font-size: var(--sizeFontePrincipal);
  margin: 0;
  width: 100%;
}

.ranking-table th,
.ranking-table td {
  padding: var(--paddingPadrao);
  text-align: center;
}

.ranking-table thead {
  background-color: var(--BackgroundPrincipal);
  color: var(--corFonteDentroDosBotoesHover);
}

.black-row {
  background-color: var(--backgroundBody);
}

.red-row {
  background-color: var(--backgroundSecundario);
}
