@import '../assets/variaveis.css';

.carousel {
    position: relative;
    overflow: hidden;
    height: 100%; /* Ajuste a altura conforme necessário */
    width: 100%; /* Ajusta a largura do carrossel ao contêiner */
    max-width: 1000px; /* Define a largura máxima do carrossel */
    max-height: 500px; /* Define a largura máxima do carrossel */
    margin: 0 auto; /* Centraliza o carrossel horizontalmente */
    margin-top: 10px; /* Centraliza o carrossel horizontalmente */
    z-index: 500;
  }
  
  .carousel-container {
    display: flex; /* Alinha os slides em linha horizontalmente */
    transition: transform 0.5s ease; /* Suaviza a transição entre os slides */
  }
  
  .carousel-slide {
    min-width: 100%; /* Cada slide ocupa toda a largura do carrossel */
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Centraliza a imagem verticalmente */
    justify-content: center; /* Centraliza a imagem horizontalmente */
  }
  
  .carousel-slide img {
    max-width: 100%; /* Limita a largura da imagem ao tamanho do slide */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 100%; /* Limita a altura da imagem ao tamanho do slide */
    object-fit: contain; /* Ajusta a imagem para caber dentro do slide sem distorção */
  }
  
  /* Botões de controle */
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000; /* Garante que os botões fiquem acima do carrossel */
  }
  
  .prev {
    left: 10px; /* Ajuste a distância do botão da borda esquerda */
  }
  
  .next {
    right: 10px; /* Ajuste a distância do botão da borda direita */
  }
  