@import '../assets/variaveis.css'; /* Importa as variáveis de estilo */

/* Container principal do componente "Espacos" */
.espacos {
  display: flex; /* Utiliza flexbox para organizar o layout */
  justify-content: space-between; /* Espaça os elementos ao máximo */
  align-items: center; /* Alinha verticalmente ao centro */
  padding: var(--paddingPadrao) 10%; /* Padding padrão com margens laterais de 10% */
  background-size: cover; /* Prepara para uma imagem de fundo futura */
  background-position: center; /* Centraliza a imagem de fundo */
  height: 275px; /* Define a altura total do componente */
  max-width: 100%; /* Define a largura máxima do carrossel */
  max-height: 500px; /* Define a altura máxima do carrossel */
  margin: 0 auto; /* Centraliza o carrossel horizontalmente */
  background-image: url("../assets/background/background-madeira.jpg");
}

/* Estiliza o texto à esquerda */
.espacos-text {
  flex: 0 0 20%; /* O texto ocupa 20% da largura do container */
  padding-right: var(--paddingPadrao); /* Padding padrão à direita do texto */
  font-size: var(--fontSizeTituloEventos); /* Tamanho da fonte padrão */
}

/* Estiliza o parágrafo dentro da seção de texto */
.espacos-text p {
  color: var(--corFonteDentroDosBotoesHover); /* Define a cor do texto */
  margin: 0; /* Remove as margens padrão do parágrafo */
  padding: var(--paddingEventos); /* Padding dentro do texto */
  border: var(--borderCorPadrao); /* Borda padrão */
  border-radius: var(--borderRadiusMedium); /* Arredonda as bordas do parágrafo */
  background: rgba(0, 0, 0, 0.5); /* Aplica um fundo semitransparente ao texto */
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.8); /* Adiciona uma sombra branca */
}

.saiba-mais-link {
  display: inline-block; /* Faz com que o link se comporte como um bloco inline */
  color: red; /* Define a cor do link */
  text-decoration: none; /* Remove o sublinhado do link */
  font-weight: var(--weightBold); /* Deixa o texto do link em negrito */
  margin-top: var(--marginPadrao); /* Margem padrão acima do link */
  font-size: var(--sizeFontePrincipal); /* Tamanho de fonte padrão */
}

/* Container das logos dos parceiros */
.espacos-logos {
  display: flex; /* Utiliza flexbox para organizar as logos */
  flex-direction: column; /* Organiza as logos em colunas */
  flex: 0 0 70%; /* As logos ocupam 70% da largura do container */
  justify-content: center; /* Centraliza verticalmente as linhas de logos */
  height: 100%; /* Ajusta a altura das logos ao tamanho do container */
}

/* Linha de logos */
.logo-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--marginPadrao);
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  align-items: center;
}

/* Placeholder para cada logo */
.logo-placeholder {
  max-width: 100px;
  max-height: 100px; /* Define a altura de cada logo */
  background-color: var(--backgroundSecundario); /* Adiciona uma cor de fundo até que a logo seja adicionada */
  display: flex; /* Utiliza flexbox para centralizar a logo */
  align-items: center; /* Centraliza verticalmente a logo dentro do placeholder */
  justify-content: center; /* Centraliza horizontalmente a logo dentro do placeholder */
  margin-bottom: 10px;
}

/* Estilo para imagens dentro dos placeholders */
.logo-placeholder img {
  width: 150px; /* Largura máxima da imagem */
  max-width: 300px; /* Altura máxima da imagem */
  object-fit: contain; /* Ajusta a imagem para se ajustar ao container sem distorção */
}

/* Regras de mídia para diferentes tamanhos de tela */
@media (max-width: 1024px) {
  .espacos-text {
    font-size: var(--sizeFonteSecundaria); /* Reduz o tamanho da fonte em tablets */
    flex: 0 0 30%; /* O texto ocupa 30% da largura em tablets */
  }

  .espacos-logos {
    flex: 0 0 65%; /* As logos ocupam 65% da largura em tablets */
  }
}

@media (max-width: 768px) {
  .espacos-text {
    font-size: var(--sizeFonteSecundaria); /* Reduz o tamanho da fonte em dispositivos menores */
    flex: 0 0 40%; /* O texto ocupa 40% da largura em dispositivos menores */
  }

  .espacos-logos {
    flex: 0 0 60%; /* As logos ocupam 60% da largura em dispositivos menores */
  }

  .logo-placeholder {
    width: 60px; /* Reduz a largura das logos em dispositivos menores */
    height: 60px; /* Reduz a altura das logos em dispositivos menores */
  }

  .saiba-mais-link {
    font-size: var(--sizeFonteLow); /* Reduz o tamanho da fonte em dispositivos menores */
    margin-top: var(--marginPadrao); /* Margem padrão */
  }
}

@media (max-width: 480px) {
  .espacos-text {
    font-size: var(--sizeFonteLow); /* Reduz ainda mais o tamanho da fonte em telas muito pequenas */
    flex: 0 0 50%; /* O texto ocupa 50% da largura em telas muito pequenas */
  }

  .espacos-logos {
    flex: 0 0 50%; /* As logos ocupam 50% da largura em telas muito pequenas */
  }

  .logo-placeholder {
    width: 50px; /* Reduz ainda mais a largura das logos em telas muito pequenas */
    height: 50px; /* Reduz ainda mais a altura das logos em telas muito pequenas */
  }

  .saiba-mais-link {
    font-size: var(--sizeFonteLow); /* Reduz ainda mais o tamanho da fonte em telas muito pequenas */
    margin-top: var(--marginPadrao); /* Margem padrão */
  }
}

/* Adicionando mais tamanhos de tela para a responsividade */
@media (max-width: 1200px) {
  .espacos-text {
    font-size: var(--sizeFonteSecundaria); /* Ajusta o tamanho da fonte em telas de 1200px ou menores */
    flex: 0 0 25%; /* Ajusta a largura do texto em telas de 1200px ou menores */
  }

  .espacos-logos {
    flex: 0 0 65%; /* Ajusta a largura das logos em telas de 1200px ou menores */
  }
}

@media (max-width: 1440px) {
  .espacos-text {
    font-size: var(--sizeFontePrincipal); /* Ajusta o tamanho da fonte em telas de 1440px ou menores */
    flex: 0 0 20%; /* Ajusta a largura do texto em telas de 1440px ou menores */
  }

  .espacos-logos {
    flex: 0 0 70%; /* Ajusta a largura das logos em telas de 1440px ou menores */
  }
}
