@import '../assets/variaveis.css';

/* Estilos Gerais do Footer */
.footer {
  background-color: #000000;
  color: white;
  padding: 20px 0px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
  font-size: 0.875rem;
  margin-top: auto; /* Remove qualquer margem que poderia empurrar o footer */

}


/* Seção Superior do Footer */
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link {
  color: rgb(255, 255, 255);
  margin: 0px 0px 15px 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.footer-icon {
  margin-right: 10px;
  width: 24px; /* Tamanho uniforme para todos os ícones */
  height: 24px; /* Garantir que todos os ícones tenham altura uniforme */
  object-fit: contain; /* Para garantir que os ícones mantenham a proporção correta */
}

/* Ícones das Redes Sociais */
.footer-social {
  margin: 20px 0px;
}

.footer-social-icon {
  width: 45px; /* Tamanho uniforme para os ícones de redes sociais */
  height: 28px; /* Garantir que os ícones tenham altura uniforme */
  object-fit: contain; /* Manter proporção ao ajustar o tamanho */
}

/* Seção Inferior do Footer */
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ffffff;
  padding-top: 10px;
  flex-direction: column;
  flex-wrap: nowrap;
  font-size: 16px;
}

.footer-empresa {
  font-size: 15px;
}

.footer p {
  margin: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: center;
  align-items: center;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .footer-top, .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-left, .footer-center, .footer-right {
    flex: none;
    margin: 10px 0;
  }

  .footer-right {
    margin-top: 20px;
  }
}
