@import '../assets/variaveis.css'; /* Importa as variáveis de estilo */

/* Estilo geral do componente Galeria */
.gallery {
  width: 100%;                 /* Largura total do componente */
  max-width: 1200px;           /* Largura máxima do componente */
  margin: 0 auto;              /* Centraliza o componente horizontalmente */
  padding: 20px;               /* Padding interno */
  background-color: transparent; /* Cor de fundo do componente */
  text-align: center;
  max-width: 1000px; 
  max-height: 500px; 
}

/* Estilo do título da galeria */
.gallery-title {
  font-size: 28px;             /* Tamanho da fonte */
  color: #333;                 /* Cor do texto */
  text-align: center;
}

/* Destaque da palavra "Fotos" */
.highlight {
  color: red;                  /* Cor vermelha para a palavra "Fotos" */
}

/* Grid da galeria */
.gallery-grid {
  display: flex;               /* Usa flexbox para o grid */
  justify-content: center;     /* Centraliza o conteúdo */
  gap: 20px;                   /* Espaçamento entre as imagens */
  margin-top: 20px;            /* Margem superior para espaçar do título */
  flex-wrap: wrap;             /* Permite que os itens do grid quebrem para novas linhas em telas menores */
}

/* Item da galeria */
.gallery-photo {
  width: 40%;                  /* Largura das imagens */
  max-width: 300px;            /* Largura máxima das imagens */
  height: auto;                /* Altura automática para manter a proporção */
}

/* Botão de ver mais */
.more-button {
  display: block;              /* Exibe o botão como bloco */
  margin: 20px auto;           /* Margem superior e inferior para espaçamento */
  padding: 10px 20px;          /* Padding interno do botão */
  background-color: red;       /* Cor de fundo vermelha */
  color: #fff;                 /* Cor do texto do botão */
  border: none;                /* Remove bordas padrão */
  border-radius: 4px;          /* Bordas arredondadas */
  font-size: 16px;             /* Tamanho da fonte do botão */
  cursor: pointer;             /* Cursor pointer para indicar que é clicável */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .gallery-title {
    font-size: 24px;           /* Reduz o tamanho da fonte em telas menores */
    margin-right: 10%;         /* Ajusta a margem direita em telas menores */
  }

  .gallery-photo {
    max-width: 200px;          /* Reduz a largura máxima das imagens em telas menores */
  }
}

@media (max-width: 480px) {
  .gallery-photo {
    width: 100%;               /* Aumenta a largura das imagens para 100% em telas muito pequenas */
    max-width: 100%;           /* Remove o limite máximo da largura para telas muito pequenas */
  }

  .more-button {
    font-size: 14px;           /* Reduz o tamanho da fonte do botão em telas menores */
    padding: 8px 16px;         /* Ajusta o padding do botão em telas menores */
  }
}
