/* Importação das variáveis de estilo */
@import '../assets/variaveis.css';

/* Estilo geral do componente Galeria */
.gallery {
  width: 100%; /* Largura total do contêiner */
  max-width: var(--maxWidthAgenda); /* Largura máxima definida pela variável */
  margin: 0 auto; /* Centraliza o contêiner horizontalmente */
  padding: var(--paddingAgenda); /* Padding padrão definido pela variável */
  background-color: transparent; /* Fundo transparente */
  text-align: center; /* Centraliza o conteúdo textualmente, incluindo o botão */
}

/* Estilo do título da galeria */
.gallery-title {
  font-size: var(--fontSizeH1); /* Tamanho da fonte definido pela variável */
  color: var(--corDaFontePrincipalEscrita); /* Cor da fonte principal */
}

/* Destaque da palavra "Fotos" */
.highlight {
  color: var(--backgroundDosBotoesStatic); /* Cor de destaque definida pela variável */
}

/* Grid da galeria */
.gallery-grid {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: var(--gapEventos);
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/* Item da galeria */
.gallery-photo-card {
  flex: 0 0 auto; /* Impede o redimensionamento das imagens */
  width: 200px; /* Largura fixa para cada item */
  margin-right: 10px; /* Espaçamento entre as imagens */
}

.gallery-photo {
  width: 200px; /* Largura fixa das imagens */
  height: 200px; /* Altura fixa das imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir o container sem distorção */
  border-radius: var(--borderRadiusPadrao); /* Bordas arredondadas definidas pela variável */
}

/* Botão de ver mais */
.more-button {
  display: inline-block; /* Permite a centralização com margin auto */
  margin: 30px auto 0; /* Margem superior de 30px e centralização horizontal */
  padding: var(--paddingPadrao) var(--paddingPadrao); /* Padding interno definido pela variável */
  background-color: var(--backgroundDosBotoesStatic); /* Cor de fundo do botão definida pela variável */
  color: var(--corFonteDentroDosBotoesHover); /* Cor da fonte dentro do botão */
  border: none; /* Remove a borda padrão */
  border-radius: var(--borderRadiusPadrao); /* Bordas arredondadas definidas pela variável */
  font-size: var(--sizeFontePrincipal); /* Tamanho da fonte definido pela variável */
  cursor: pointer; /* Cursor em forma de ponteiro ao passar o mouse */
  width: 125px;
  padding: 10px 20px;
}

.more-button:hover {
  background-color: #000000; /* Azul escuro ao passar o mouse */
  color: #ffffff;
  border-color: #000000; /* Azul ainda mais escuro ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
  .gallery-title {
    font-size: var(--sizeFonteSecundaria); /* Reduz o tamanho da fonte */
    margin-right: 10%; /* Margem direita ajustada para telas menores */
  }

  .gallery-photo {
    width: 260px; /* Ajusta a largura das imagens */
    height: 260px; /* Ajusta a altura das imagens */
  }
}

@media (max-width: 480px) {
  .gallery-title {
    font-size: var(--sizeFonteLow); /* Reduz ainda mais o tamanho da fonte */
  }

  .gallery-photo {
    width: 240px; /* Ajusta a largura das imagens para telas muito pequenas */
    height: 240px; /* Ajusta a altura das imagens para telas muito pequenas */
  }
}
