@import '../assets/variaveis.css';

/* Estilo geral do banner */
.instagram-banner {
    background: linear-gradient(135deg, #f58529, #dd2a7b, #8134af); /* Gradiente de fundo vibrante */
    border-radius: var(--borderRadiusMedium); /* Bordas arredondadas usando variável */
    box-sizing: border-box; /* Inclui o padding e borda na largura total */
    box-shadow: var(--boxShadowMenu); /* Sombra para destacar o banner usando variável */
    color: #fff; /* Texto branco */
    margin: 0; /* Remove margens para ocupar toda a largura */
    overflow: hidden;
    padding: var(--paddingPadrao); /* Padding padrão */
    position: relative;
    text-align: center;
    width: 100%; /* Ocupa toda a largura da viewport */
}

/* Animação do texto */
.siga-nos {
    animation: fadeInUp 2s ease-out; /* Animação de entrada */
    font-size: 28px;
    font-weight: var(--weightBold); /* Peso da fonte negrito usando variável */
    margin-bottom: 10px;
}

/* Destaque no texto */
.highlight {
    color: var(--corFontePrincipalEscrita); /* Cor de destaque usando variável */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para o texto */
}

/* Descrição adicional */
.description {
    animation: fadeInUp 2s ease-out 0.5s; /* Animação com atraso */
    font-size: 18px;
    line-height: 1.5; /* Melhora a legibilidade */
    margin-bottom: 20px;
}

/* Animação para o QR Code */
.qr-code {
    animation: bounce 2s infinite; /* Animação de bounce */
    border-radius: var(--borderRadiusPadrao); /* Bordas arredondadas usando variável */
    height: 120px;
    width: 120px;
}

/* Animação de fade-in e subida */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animação de bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .instagram-banner {
        padding: 10px;
    }
    
    .siga-nos {
        font-size: 24px;
    }
    
    .description {
        font-size: 16px;
    }
    
    .qr-code {
        height: 100px;
        width: 100px;
    }
}

@media (max-width: 480px) {
    .siga-nos {
        font-size: 20px;
    }
    
    .description {
        font-size: 14px;
    }
    
    .qr-code {
        height: 80px;
        width: 80px;
    }
}
