/* Importação das variáveis de estilo */
@import '../assets/variaveis.css';

/* Estilo geral do wrapper do menu */
.menu-wrapper {
  position: fixed; /* Fixa o menu no topo da página */
  top: 0; /* Posiciona o menu no topo */
  left: 0; /* Alinha o menu ao lado esquerdo da página */
  width: 100%; /* Faz o menu ocupar a largura total da página */
  background: var(--BackgroundPrincipal); /* Usando a variável para o gradiente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
  transition: padding 0.3s, box-shadow 0.3s; /* Transição suave para o tamanho do menu */
}

/* Estilo do menu horizontal */
.menu {
  display: flex;
  align-items: center;
  background: var(--BackgroundPrincipal); /* Usando a variável para o gradiente */
  color: var(--backgroundBranco); /* Usando a variável para a cor do texto */
  padding: var(--paddingPadrao) 30px; /* Usando a variável para padding */
  justify-content: space-between; /* Alinha logo e menu */
  position: relative; /* Para posicionar o botão de fechar corretamente */
}

/* Estilo do menu quando o mouse passa por cima */
.menu-wrapper:hover .menu {
  padding: 30px; /* Padding maior ao passar o mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra mais forte ao passar o mouse */
}

/* Estilo do botão de menu */
.menu-button {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--paddingPadrao); /* Usando a variável para padding */
}

/* Estilo da logo */
.logo-container {
  flex: 0 0 auto; /* Evita que a logo se expanda */
  z-index: 1001; /* Garante que a logo fique acima do menu */
}

.logo {
  height: 60px; /* Tamanho menor da logo por padrão */
  border-radius: 50%; /* Torna a logo arredondada */
  box-shadow: 0 0 100px rgba(255, 199, 194, 0.8); /* Adiciona a borda brilhante */
  transition: height 0.3s; /* Transição suave para o tamanho da logo */
}

/* Estilo da logo quando o mouse passa por cima */
.menu-wrapper:hover .logo {
  height: 100px; /* Tamanho maior da logo ao passar o mouse */
}

.menu ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1; /* Permite que os itens ocupem o espaço restante */
  justify-content: center; /* Centraliza os itens no menu */
  font-size: var(--sizeFontePrincipal); /* Usando a variável para o tamanho da fonte */
  font-weight: var(--weight400); /* Usando a variável para o peso da fonte */
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: var(--backgroundBranco); /* Usando a variável para a cor do link */
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
}

/* Estilo do botão de fechar */
.close-button {
  display: none;
}

/* Estilo responsivo */
@media (max-width: 768px) {
  .menu {
    display: flex;
    flex-direction: column; /* Menu na vertical */
    position: fixed; /* Fixa o menu no topo da página */
    top: 0;
    left: 0; /* Posiciona o menu no lado esquerdo */
    width: 180px; /* Largura reduzida do menu */
    height: 100vh; /* Altura completa da tela */
    background: var(--BackgroundPrincipal); /* Usando a variável para o gradiente na versão móvel */
    padding: 20px;
    transform: translateX(-100%); /* Oculta o menu inicialmente */
    transition: transform 0.5s ease;
    z-index: 1000; /* Garante que o menu fique acima de outros conteúdos */
  }

  .menu.open {
    transform: translateX(0); /* Exibe o menu quando aberto */
  }

  .menu-button {
    display: block;
    color: var(--backgroundBranco); /* Usando a variável para a cor do texto */
    border: none;
    padding: var(--paddingPadrao) var(--paddingPadrao); /* Usando a variável para padding */
    font-size: 30px; /* Aumenta o tamanho da fonte do botão */
    border-radius: var(--borderRadiusPadrao); /* Usando a variável para o border-radius */
    cursor: pointer; /* Indica que é clicável */
    max-width: 200px; /* Limita a largura máxima do botão */
  }

  .close-button {
    display: block;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--backgroundBranco); /* Usando a variável para a cor do texto */
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .logo-container {
    display: flex; /* Exibe a logo no modo móvel */
    justify-content: center; /* Centraliza a logo */
    position: relative; /* Garante que a logo fique no fluxo normal */
    margin-top: 10%; /* Espaçamento acima da logo */
    margin-left: 0; /* Garante que a margem à esquerda não afete a posição */
    margin-right: 0; /* Garante que a margem à direita não afete a posição */
  }

  .logo {
    height: 150px; /* Ajusta o tamanho da logo conforme necessário */
  }

  .menu ul {
    flex-direction: column; /* Itens dispostos verticalmente */
    align-items: center; /* Alinha os itens ao centro */
    margin: 0;
    padding: 0;
    font-size: var(--sizeFontePrincipal); /* Usando a variável para o tamanho da fonte */
    font-weight: var(--weight600); /* Usando a variável para o peso da fonte */
  }

  .menu li {
    margin: 25px; /* Ajusta o espaçamento dos itens no menu móvel */
  }
}

/* Exemplo de estilo para responsividade */
@media (max-width: 768px) {
  .menu-wrapper {
    padding: var(--paddingPadrao); /* Ajuste o padding para telas menores */
  }
}
