/* Importação das variáveis de estilo */
@import '../assets/variaveis.css';

/* Estilo para o carrossel de produtos */
.carrossel {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carrossel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.produto-frame {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.produto-imagem {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.produto-info {
  text-align: center;
}

.add-to-cart {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.carrossel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.carrossel-control.prev {
  left: 10px;
}

.carrossel-control.next {
  right: 10px;
}
