.video-preview {
    margin-top: 20px;
    padding: 0 15px;
  }
  
.video-preview iframe {
    width: 70%;
    height: 500px; /* Aumente a altura do preview */
    border-radius: 8px; /* Borda arredondada */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para destacar o vídeo */
}
  
  /* Responsividade */
  @media (max-width: 768px) {
    .video-preview iframe {
      height: 250px; /* Ajuste a altura para telas menores */
    }
  }
  
  @media (max-width: 480px) {
    .video-preview iframe {
      height: 200px; /* Ajuste adicional para telas muito pequenas */
    }
  }