@import '../assets/variaveis.css';

/* Estilo geral para o contêiner do vídeo */
.video-preview {
    margin-top: var(--marginTopAgenda); /* Usando a variável para a margem superior */
    padding: var(--paddingPadrao); /* Padding padrão */
    text-align: center; /* Centraliza o conteúdo */
}

/* Estilo para o player do YouTube */
.video-preview iframe {
    border-radius: var(--borderRadiusMedium); /* Usando variável para bordas arredondadas */
    box-sizing: border-box; /* Inclui o padding e bordas na largura e altura totais */
    box-shadow: var(--boxShadowMenu); /* Usando variável para a sombra */
    height: 500px; /* Altura padrão do preview */
    max-width: 100%; /* Garante que o iframe não ultrapasse a largura do contêiner */
    width: 50%; /* Ocupa 50% da largura do contêiner */
}

/* Responsividade */
@media (max-width: 768px) {
    .video-preview {
        padding: 0 15px; /* Adiciona padding para telas menores */
        width: 100%; /* Ocupa 100% da largura do contêiner */
    }
    .video-preview iframe {
        height: 250px; /* Ajuste a altura para telas menores */
        width: 100%; /* Ocupa 100% da largura do contêiner */
    }
}

@media (max-width: 480px) {
    .video-preview iframe {
        height: 200px; /* Ajuste adicional para telas muito pequenas */
        width: 100%; /* Ocupa 100% da largura do contêiner */
    }
}
