html, body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 20px; /* Ajuste o padding para garantir que o conteúdo não sobreponha o footer */
}

.footer {
  background-color: #7a7a7a;
  color: white;
  padding: 20px 0px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
  font-size: 0.875rem;
  width: 100%;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Adicione estilos responsivos se necessário */
}
