/* Importação das variáveis de estilo */
@import '../assets/variaveis.css';

html, body {
  height: 100%;
  margin: 0;
  font-family: var(--fontePrincipal); /* Usando a variável para a fonte principal */
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding-bottom: 0px; /* Mantém o padding para garantir que o conteúdo não sobreponha o footer */
}

.footer {
  background-color: var(--BackgroundPrincipal); /* Usando a variável para o fundo principal */
  color: var(--backgroundBranco); /* Usando a variável para a cor branca */
  padding: 20px 0px;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.3);
  font-size: var(--sizeFonteSecundaria); /* Usando a variável para o tamanho da fonte secundária */
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: var(--backgroundDosBotoesStatic); /* Usando a variável para o fundo dos botões */
  color: var(--corFonteDentroDosBotoesStatic); /* Usando a variável para a cor da fonte dentro dos botões */
  border: none;
  padding: 10px 20px;
  border-radius: var(--borderRadiusPadrao); /* Usando a variável para o border-radius */
  cursor: pointer;
}

button:hover {
  background-color: var(--backgroundSecundario); /* Usando a variável para o fundo dos botões no hover */
}

/* Estilos responsivos */
@media (max-width: 768px) {
  /* Adicione estilos responsivos se necessário */
}
