@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'dotsfont'; /* Fonte personalizada */
    src: url('dist/dotsfont.ttf') format('truetype'); /* Caminho da fonte */
    font-weight: 100; /* Peso da fonte */
    font-style: normal; /* Estilo da fonte */
}

:root {
    /* Cores */
    --backgroundBody: #FFFAFA; /* Cor de fundo do corpo */
    --backgroundBranco: #ffffff; /* Cor de fundo branca */
    --backgroundDosBotoesHover: #ff0000; /* Cor de fundo dos botões em hover */
    --backgroundDosBotoesStatic: #800D0D; /* Cor de fundo dos botões estáticos */
    --backgroundSecundario: #7a7a7a; /* Cor de fundo secundário */
    --BackgroundPrincipal: linear-gradient(to right, #800D0D, #1A0303); /* Gradiente de fundo principal */
    --corFundoGaleria: var(--backgroundBody);

    /* Bordas */
    --borderCorHover: var(--backgroundDosBotoesStatic); /* Cor da borda em hover */
    --borderCorPadrao: var(--backgroundDosBotoesStatic); /* Cor padrão da borda */
    --borderPadraoFooter: 2px solid #ffffff; /* Borda padrão do footer */

    /* Border Radius */
    --borderRadiusEventos: 8px; /* Bordas arredondadas dos eventos */
    --borderRadiusLogo: 10%; /* Bordas arredondadas das logos */
    --borderRadiusMaior: 20px; /* Bordas arredondadas maiores */
    --borderRadiusMedium: 10px; /* Bordas arredondadas médias */
    --borderRadiusPadrao: 6px; /* Bordas arredondadas padrão */
    --borderRadiusItem: 10px; /* Bordas dos itens */
    --borderRadiusBotaoAdicionar: 4px; /* Bordas arredondadas do botão adicionar */
    --borderRadiusModal: 4px; /* Bordas arredondadas do modal */
    --borderRadiusImagemProduto: 8px; /* Bordas arredondadas da imagem do produto */
    --bordasArredondadasBotao: 10px;

    /* Box Shadow */
    --boxShadowEventos: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra dos eventos */
    --boxShadowMenu: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra do menu */
    --boxShadowMenuHover: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra do menu em hover */
    --sombraContainer: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra do container */
    --sombraModal: 0 5px 15px rgba(0, 0, 0, 0.3); /* Sombra do modal */

    /* Cores dos Botões e Textos */
    --corDaFontePrincipalEscrita: black; /* Cor da fonte principal de escrita */
    --corFonteDentroDosBotoesHover: #ffffff; /* Cor da fonte dentro dos botões em hover */
    --corFonteDentroDosBotoesStatic: var(--corFonteDentroDosBotoesHover); /* Cor da fonte dentro dos botões estáticos */
    --corFonteLinkHover: #darkgoldenrod; /* Cor da fonte dos links em hover */
    --corFonteSegOpcao: var(--backgroundDosBotoesStatic); /* Cor da fonte da segunda opção */
    --corFonteLinkHover: blue;
    --corFundoBotao: #ff6f61; /* Cor de fundo do botão */
    --corFundoCard: #fff; /* Cor de fundo do card */
    --corFundoContainer: #f9f9f9; /* Cor de fundo do container */
    --corFundoHeader: #ff6f61; /* Cor de fundo do cabeçalho */
    --corFundoModal: #fff; /* Cor de fundo do modal */
    --corFundoRodape: #333; /* Cor de fundo do rodapé */
    --corTextoBotao: #fff; /* Cor do texto do botão */
    --corTextoDescricaoProduto: #666; /* Cor do texto da descrição do produto */
    --corTextoNomeProduto: #333; /* Cor do texto do nome do produto */
    --corTextoPrecoProduto: #ff6f61; /* Cor do texto do preço do produto */
    --corTextoRodape: #fff; /* Cor do texto do rodapé */
    --corTextoTextoArticle: #666; /* Cor do texto do artigo */
    --corTextoTituloArticle: #333; /* Cor do título do artigo */
    --corFundoParceiros: #f0f0f0; /* Cor de fundo dos parceiros */
    --corTituloParceiros: #333; /* Cor do título dos parceiros */
    --corTextoNomeParceiro: #333; /* Cor do nome do parceiro */
    --corFundoLogoWhatsApp: #25D366; /* Cor de fundo do logo do WhatsApp */
    --corTextoProduto: #333; /* Cor do texto do produto */
    --corFundoCarrossel: #ffffff; /* Cor de fundo do carrossel */
    --corTituloCarrossel: #ff6f61; /* Cor do título do carrossel */
    --corDescricaoCarrossel: #333; /* Cor da descrição do carrossel */
    --corBotaoAdicionar: #ff6f61; /* Cor de fundo do botão adicionar */
    --corTextoBotaoAdicionar: #fff; /* Cor do texto do botão adicionar */

    /* Fontes e Tamanhos */
    --fontSizeCorpoEventos: 1rem; /* Tamanho da fonte do corpo dos eventos */
    --fontSizeH1: 2rem; /* Tamanho da fonte H1 */
    --fontSizeP: 1.2rem; /* Tamanho da fonte dos parágrafos */
    --fontSizeTituloEventos: 1.5rem; /* Tamanho da fonte do título dos eventos */
    --sizeFontePrincipal: 16px;
    --fontePrincipal: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif; /* Fonte principal */
    --tamanhoFonteBotao: 16px; /* Tamanho da fonte do botão */
    --tamanhoFonteBotaoFechar: 18px; /* Tamanho da fonte do botão de fechar */
    --tamanhoFonteNomeProduto: 19px; /* Tamanho da fonte do nome do produto */
    --tamanhoFontePrecoProduto: 16px; /* Tamanho da fonte do preço do produto */
    --tamanhoFonteDescricaoProduto: 14px; /* Tamanho da fonte da descrição do produto */
    --tamanhoFonteTextoArticle: 1.2rem; /* Tamanho da fonte do texto do artigo */
    --tamanhoFonteTituloArticle: 2rem; /* Tamanho da fonte do título do artigo */
    --tamanhoFonteTituloArticleMenor: 1.8rem; /* Tamanho da fonte do título do artigo menor */
    --tamanhoFonteTituloArticleMuitoMenor: 1.5rem; /* Tamanho da fonte do título do artigo muito menor */
    --tamanhoFonteTituloArticleMinimo: 1.3rem; /* Tamanho da fonte do título do artigo mínimo */
    --tamanhoFonteTituloArticleMinimoAbsoluto: 1.2rem; /* Tamanho da fonte do título do artigo mínimo absoluto */
    --tamanhoFonteTextoArticleMenor: 1.1rem; /* Tamanho da fonte do texto do artigo menor */
    --tamanhoFonteTextoArticleMuitoMenor: 1rem; /* Tamanho da fonte do texto do artigo muito menor */
    --tamanhoFonteTextoArticleMinimo: 0.9rem; /* Tamanho da fonte do texto do artigo mínimo */
    --tamanhoFonteTextoArticleMinimoAbsoluto: 0.8rem; /* Tamanho da fonte do texto do artigo mínimo absoluto */
    --tamanhoFonteTituloHeader: 2.5rem; /* Tamanho da fonte do título do cabeçalho */
    --tamanhoFonteTituloHeaderMenor: 2.2rem; /* Tamanho da fonte do título do cabeçalho menor */
    --tamanhoFonteTituloHeaderMuitoMenor: 2rem; /* Tamanho da fonte do título do cabeçalho muito menor */
    --tamanhoFonteTituloHeaderMinimo: 1.8rem; /* Tamanho da fonte do título do cabeçalho mínimo */
    --tamanhoFonteTituloHeaderMinimoAbsoluto: 1.5rem; /* Tamanho da fonte do título do cabeçalho mínimo absoluto */
    --tamanhoFonteTituloCarrossel: 2em; /* Tamanho da fonte do título do carrossel */
    --tamanhoFonteDescricaoCarrossel: 1.2em; /* Tamanho da fonte da descrição do carrossel */
    --tamanhoFonteBotaoAdicionar: 16px; /* Tamanho da fonte do botão adicionar */
    --tamanhoFonteTituloCarrosselMobile: 1.5em; /* Tamanho da fonte do título do carrossel para dispositivos móveis */
    --tamanhoFonteDescricaoCarrosselMobile: 1em; /* Tamanho da fonte da descrição do carrossel para dispositivos móveis */
    --tamanhoFonteCloseButton: 18px; /* Tamanho da fonte do botão de fechar */

    /* Margens */
    --marginBottomArticle: 30px; /* Margem inferior do artigo */
    --marginBottomImagem: 10px; /* Margem inferior da imagem */
    --marginBottomListaItem: 30px; /* Margem inferior do item da lista */
    --marginBottomNomeProduto: 10px; /* Margem inferior do nome do produto */
    --marginBottomDescricaoProduto: 10px; /* Margem inferior da descrição do produto */
    --marginTopAgenda: 80px; /* Margem superior da agenda */
    --marginTopBotao: 10px; /* Margem superior do botão */
    --marginVerticalLista: 20px; /* Margem vertical da lista */
    --marginP: 20px; /* Margem do parágrafo */
    --marginH1: 10px; /* Margem do H1 */
    --marginTopContainer: 5%; /* Margem superior do container */
    --marginTitulo: 40px; /* Margem inferior do título */
    --marginNomeParceiro: 10px; /* Margem superior do nome do parceiro */
    --marginLateralWhatsApp: 20px; /* Margem lateral do logo do WhatsApp */
    --marginInferiorWhatsApp: 20px; /* Margem inferior do logo do WhatsApp */
    --marginBottomBotao: 10px;
    --marginPadrao: 20px;
    --marginTopGaleria: 5%;

    /* Padding */
    --paddingAgenda: 20px; /* Padding da agenda */
    --paddingBotaoHorizontal: 20px; /* Padding horizontal do botão */
    --paddingBotaoVertical: 10px; /* Padding vertical do botão */
    --paddingCard: 10px; /* Padding do card */
    --paddingContainer: 40px; /* Padding do container */
    --paddingContainerMenor: 30px; /* Padding do container menor */
    --paddingContainerMuitoMenor: 20px; /* Padding do container muito menor */
    --paddingContainerMinimo: 15px; /* Padding do container mínimo */
    --paddingContainerMinimoAbsoluto: 10px; /* Padding do container mínimo absoluto */
    --paddingEventos: 15px; /* Padding dos eventos */
    --paddingModal: 20px; /* Padding do modal */
    --paddingPadrao: 6px; /* Padding padrão */
    --paddingContent: 20px; /* Padding do conteúdo */
    --paddingEsquerdaLista: 0px; /* Padding esquerda da lista */
    --paddingInferiorListaItem: 20px; /* Padding inferior do item da lista */
    --paddingInferiorTituloArticle: 10px; /* Padding inferior do título do artigo */
    --paddingCarrossel: 20px 0; /* Padding do carrossel */
    --paddingProduto: 10px; /* Padding dos produtos */
    --paddingBotaoAdicionar: 10px; /* Padding do botão adicionar */
    --paddingInterno: 20px;

    /* Dimensões */
    --gapEventos: 20px; /* Gap entre eventos */
    --gapProdutos: 20px; /* Gap entre produtos */
    --gapInfoProdutoLista: 10px; /* Gap entre informações do produto na lista */
    --gapLista: 20px; /* Gap entre lista */
    --heightBotoes: 35px; /* Altura dos botões */
    --heightPadraoCampos: 42px; /* Altura padrão dos campos */
    --larguraMaximaContainer: 1200px; /* Largura máxima do container */
    --larguraMinimaColuna: 200px; /* Largura mínima da coluna */
    --larguraInfoProdutoLista: 59%; /* Largura das informações do produto na lista */
    --larguraImagemLista: 40%; /* Largura da imagem na lista */
    --maxWidthItem: 200px; /* Largura máxima dos itens */
    --maxWidthNomeParceiro: 150px; /* Largura máxima do nome do parceiro */
    --tamanhoFlexItem: 150px; /* Tamanho flexível dos itens */
    --tamanhoImagemProduto: 100px; /* Tamanho da imagem do produto */
    --maxWidthCarrossel: 1000px; /* Largura máxima do carrossel */
    --maxHeightCarrossel: 500px; /* Altura máxima do carrossel */
    --maxWidthModal: 500px; /* Largura máxima do modal */
    --tamanhoImagemProdutoMobile: 80px; /* Tamanho da imagem do produto para dispositivos móveis */
    --larguraModal: 90%; /* Largura do modal */
    --larguraModalMobile: 90%; /* Largura do modal para dispositivos móveis */
    --tamanhoLogo: 100px; /* Tamanho da logo */
    --tamanhoLogoWhatsApp: 5vw; /* Tamanho do logo do WhatsApp */
    --maxWidthLogoWhatsApp: 70px; /* Largura máxima do logo do WhatsApp */
    --maxHeightLogoWhatsApp: 70px; /* Altura máxima do logo do WhatsApp */
    --minWidthLogoWhatsApp: 40px; /* Largura mínima do logo do WhatsApp */
    --minHeightLogoWhatsApp: 40px; /* Altura mínima do logo do WhatsApp */
    --duracaoAnimacaoCarrossel: 30s; /* Duração da animação do carrossel */

    /* Margens e Posições */
    --marginTopCarrossel: 80px; /* Margem superior do carrossel */
    --marginHeaderCarrossel: 20px; /* Margem inferior do cabeçalho do carrossel */
    --marginBottomTituloCarrossel: 10px; /* Margem inferior do título do carrossel */
    --maxWidthDescricaoCarrossel: 800px; /* Largura máxima da descrição do carrossel */
    --gapItensCarrossel: 20px; /* Gap entre itens do carrossel */
    --topCloseButton: 10px; /* Posição superior do botão de fechar no modal */
    --rightCloseButton: 10px; /* Posição à direita do botão de fechar no modal */
    --marginImagemModal: 20px; /* Margem inferior da imagem no modal */

    /* Fontes e Pesos */
    --weight100: 100; /* Peso da fonte 100 */
    --weight200: 200; /* Peso da fonte 200 */
    --weight300: 300; /* Peso da fonte 300 */
    --weight400: 400; /* Peso da fonte 400 */
    --weight500: 500; /* Peso da fonte 500 */
    --weight600: 600; /* Peso da fonte 600 */
    --weight700: 700; /* Peso da fonte 700 */
    --weight800: 800; /* Peso da fonte 800 */
    --weight900: 900; /* Peso da fonte 900 */
    --weightBold: bold; /* Peso da fonte bold */

    /* Transições e Outros */
    --transicaoHover: 0.2s ease; /* Tempo e estilo da transição em hover */
}
